* {
	margin: 0;
	padding: 0;
	border-spacing: 0px;
	box-sizing: border-box;
}

body {
	background-color: #FFF;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
    border-bottom: 0.125rem solid #52D0A1;
}

h2, h3, button, input, option, select, label, a {
	font-family: 'Mulish', sans-serif;
}

p, label, ::placeholder {
	font-size: 0.9rem;
	line-height: 1.5rem;
	
}

a { 
	text-decoration: none;
	color: var(--dark-blue);
}

a:visited {
	color: var(--dark-blue);
}

:root {
    --white: #fff;
    --background: #f2f4f5;
    --background-white: #F2F2F2;
    --wave-blue: #1890ff;
    --dark-blue: #004191;
    --darkest-blue: #002766;
    --light-green: #52D0A1;
	--medium-green: #268568;
    --dark-green: #00802F;
    --darkest-green: #016b28;
	--light-gray: #bfbfbf;
}

/* header content ====================================== */
header {
    width: 100%;
}

.top-header {
    background-color: var(--darkest-blue);
    height: 2.5rem;
}

.botton-header {
    background-color: var(--dark-blue);
    height: 1.875rem;
}
/* header content ====================================== */

/* title content ======================================= */
.title-content {
	display: flex;
	justify-content: center;
    margin-top: 0.938rem;
}

.title-content h3 {
    color:var(--darkest-blue);
}
/* title content ======================================= */


/* Input content ========================================*/

.input-group {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
}

.input-conteiner {
	margin-top: 0.938rem;
}

.input-group label {
	display: block;
	padding-left: 0.813rem;
    color: #222222;	
}

.field {
    width: 100%;
    border: 1px solid var(--light-gray);
	border-radius: 2px;
	padding: 0.75rem;
  	margin: 8px 0;
}

.field:focus,
.field:hover {
	outline: none;
	border: 1px solid var(--dark-blue);
	box-shadow: 0 0 1px var(--dark-blue);	
}

/* Input content ========================================*/

/* button content =======================================*/
.button {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
	padding: .5rem 0;
}

.btn-primary {    
	width: 100%;
	padding: 0.625rem;
	color: #FFF;
	border: 1px solid var(--darkest-green);
	background: #00802F;
	border-radius: 2px;
	text-transform: uppercase;
    cursor: pointer;
}

.btn-primary:hover {
	background: var(--darkest-green);
	transition: background-color .5s ease-in;
}

/* button content =======================================*/



/* PDF STYLES ======================================= */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
    display: grid;
    gap: .5rem;
}

.section {
    padding: 1.5rem 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.main-title {
	padding: 3rem 0 .5rem;
}

.link {
	padding: 0 0 1.5rem 0;
}

/* PDF- LOGO STYLES ============= */
.logo img {
	width: 9.7rem;
	opacity: 0.5;
}
/* PDF- LOGO STYLES ============= */


/* PDF- TITLES STYLES ============= */
.title {
	color: var(--darkest-blue);
	font-size: 1.125rem;
}

.subtitle {
	color: var(--dark-blue);
}

/* PDF- TITLES STYLES ============= */

/* PDF- TABLE STYLES ============= */
table.greyGridTable {
	width: 80%;
	text-align: left;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5rem;
  }
  table.greyGridTable td, table.greyGridTable th {
	border: 1px solid #FFFFFF;
	padding: 5px;
  }
  table.greyGridTable tbody td {
	font-size: 14px;
  }
  table.greyGridTable thead {
	background: #FFFFFF;
	border-bottom: 2px solid #52D0A1;
  }
  table.greyGridTable thead th {
	font-size: 16px;
	font-weight: bold;
	color: #002766;
	text-align: left;
  }

  table.greyGridTable thead th:last-child {
	width: 15%;
  }
  
  table.greyGridTable tfoot {
	font-weight: normal;
	border-top: 2px solid #bfbfbf;
  }
/* PDF- TABLE STYLES ============= */


/* PDF- FOOTER STYLES ============= */
footer {
	border-top: 0.125rem solid var(--darkest-green);
	opacity: 0.5;
	margin-top: 2rem;	
}

.padding {
	padding: 9px 0;	
}

span {
	display: flex;
	flex-direction: column;
	align-items: center;
}

span p {
	font-size: 0.563rem;
	line-height: 0.75rem;
	color: #102463;

}


/* PDF- FOOTER STYLES ============= */

