<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials PDF Creator</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body>
    <conteiner class="main">
        <header class="header">
            <header class="top-header"></header>
            <header class="botton-header"></header>
        </header>
        <section>
            <div class="title-content">
                <h3>Credenciais de Acesso</h3>                
            </div>
            <div class="input-group">
                <form id="input-group" action="/pdf" method="POST">
                    <div class="input-conteiner">
                        <label for="county" class="county-name">Município</label>
                        <input type="text" class="field" id="county">
                    </div>

                    <div class="input-conteiner">
                        <label for="data" class="data-field">Dados</label>
                        <input type="text" class="field" id="data" id="name"></input>
                    </div>
                </form>
                    
            </div>
            <div class="button" >
                <a href="">
                    <button form="input-group" type="submit" class="btn-primary">Baixar PDF</button>
                </a>
            </div>
        </section>
    </conteiner>
</body>
</html>