<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials PDF Creator</title>
</head>
<body>
    <conteiner class="main">
        <conteiner class="header">
            <header class="header-content"></header>
            <header class="bottom-header-content"></header>
            <header class="bottom-header-line"></header>
        </conteiner>
        <section>
            <div class="cards">
                <a href="#">
                    <div id="card">
                        <div class="card-circle">
                            <div class="card-img">
                                <img src="#" alt="#">
                            </div>
                        </div>
                        <h4 class="card-title">Enviar</h4>
                    </div>
                </a>
            </div>
        </section>
    </conteiner>
</body>
</html>